# 데이터프레임 생성
- 딕셔너리 + 리스트 => 데이터프레임
- 딕셔너리 + 딕셔너리
- 2차원 리스트 
- 2차원 넘파이배열 => 데이터프레임 
- 2개이상의 시리즈 => 데이터프레임 

```
pd.DataFrame(데이터, columns = 컬럼명리스트, index = 인덱스의 리스트 )
```

In [26]:
import numpy as np
import pandas as pd

## 2차원 리스트 => 데이터프레임

In [27]:
data = [['Elise', 1.5, 2014], ['Julia', 1.7, 2015],
        ['Jhon', 3.6, 2016], ['Charles', 2.5, 2017],['Charles', 2.9, 2018]]

df1 = pd.DataFrame(data, columns = ['name', 'score', 'year'], index = range(10, 51, 10))
df1

       name  score  year
10    Elise    1.5  2014
20    Julia    1.7  2015
30     Jhon    3.6  2016
40  Charles    2.5  2017
50  Charles    2.9  2018